<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <script src="http://localhost:{{ ns.httpserver_port }}/ag-grid-community.js"></script>"""
        """<style>
            body {
                color: white;
                background: #0F2027;
                background: -webkit-linear-gradient(to right, #4e99bb, #2c91b5, #07587a);
                background: linear-gradient(to right, #4e99bb, #2c91b5, #07587a);
                text-align: center;
                font-size: 18px;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Welcome !</h1>
		
		
		{% include  "aggrid-table.html" %}
		
		
    <button id="Exit">Exit</button>
    </body>
</html>
