<div>
3 Ways to Chunk Text to Support Reading Comprehension

Comprehension is essential to reading and understanding texts; however, it is one of the more challenging reading skills to teach. Research shows that students who struggle with reading comprehension often struggle with foundational reading skills, such as decoding or fluency; therefore it’s important to strengthen foundation skills so students can focus their mental energy on reading for meaning.

Unfortunately, you can’t control your students thinking or flip a switch to turn on their ability to comprehend (wouldn’t that be nice?), but there are still plenty of things you CAN do.

You CAN provide interventions for phonemic awareness, phonics, and decoding so students can shift their focus to comprehension.
You CAN provide instructional support and coaching to guide students in developing their comprehension skills.
You CAN teach strategies and tools to help students comprehend what they’re reading independently.
You CAN provide scaffolding to help students navigate difficult texts and improve their confidence with reading.
SCAFFOLDING TEXTS USING “CHUNKING”
Scaffolding texts is an easy-to-implement, highly effective instructional support to help students read longer texts with more proficiency and confidence. There are many scaffolding strategies you can try, but text “chunking” is the perfect strategy to support your beginner or struggling readers.

If you aren’t familiar with the term “chunking,” it means separating something into smaller, more manageable pieces. Think about eating a pizza; we don’t just shove the whole pie into our mouths. We cut it into slices and then break it up further into smaller pieces by taking bites. Now apply that to a text! There are often chapters or sections, and then paragraphs within each of those chapters and sections to break it up further.

Research shows that struggling readers can improve their comprehension when the material is broken down into smaller parts. Most students do not naturally know how to break up texts. They need scaffolding support to know where these stopping points are, and they also need strategies for what to do when they reach these stopping points.
</div>