{# tabs.html #}
<!-- daisyui tabs https://daisyui.com/components/tab/ -->

{% macro navbar_active(atab) %}
<div class="navbar fixed top-0 z-40 bg-base-100">
  <div class="flex-1">
    <div class="tabs">

      <button id="tab1" class={% if atab|int == 1 %} "tab tab-lifted tab-active"> {% else %} "tooltip tooltip-right tab tab-lifted" data-tip="Load a text file"> {% endif %}
        <span style="font-size: 25px; color: Tomato;">
          <i class="fa fa-file-alt"></i>
        </span>
          <!-- <button id="filebtn"><i class="fa fa-file-alt"></i>Normal</button> -->
      </button>

      <button id="tab2" class={% if atab|int == 2 %} "tab tab-lifted tab-active"> {% else %} "tooltip tooltip-right tab tab-lifted" data-tip="Translate and edit when necesssary"> {% endif %}
        <span style="font-size: 25px; color: Tomato;">
          <i class="fas fa-globe"></i>
                <!-- fas fa-language -->
        </span>
      </button>

      <a id="tab3" class={% if atab|int == 3 %} "tab tab-lifted tab-active"> {% else %} "tooltip tooltip-right tab tab-lifted" data-tip="qq-group:316287378"> {% endif %}
        <span style="font-size: 25px; color: Tomato;">
          <i class="fa fa-info"></i>
        </span>
      </a>

      <a id="tablog" class={% if atab|int == 5 %} "tab tab-lifted tab-active"> {% else %} "tooltip tooltip-right tab tab-lifted" data-tip="for logging messages"> {% endif %}
        <span style="font-size: 25px; color: Tomato;">
          <i class="fas fa-file-signature"></i>
        </span>
      </a>

      <a id="tab4" class={% if atab|int == 4 %} "tab tab-lifted tab-active"> {% else %} "tooltip tooltip-right tab tab-lifted" data-tip="Click to quit, no question asked"> {% endif %}
        <span style="font-size: 25px; color: Tomato;">
          <i class="fa fa-power-off"></i>
        </span>
      </a>

    </div>
  </div>
</div>
{% endmacro %}